# ignore all build, dev and log directories
**/log
build
bin
dev
tmp

# Kaldi specific files
# Symlinks from main Kaldi repository
steps
utils
# Build files from models
mfcc/
exp/
**/data/lang/
**/data/local/lang/
**/data/local/tmp/
**/cmvn.scp*
**/feats.scp
**/split1/
